.visible-modal {
    background-color: transparent !important;
}

.closeBg{
    background-color: transparent;
    color: white;
}

.bgNoBorder{
    .modal-header{
        border-bottom : none;
    }
    .modal-footer{
        border-top : none;
    }
}

.bgTransparentModal{
    background-color: transparent;

    .modal-header{
        .closeBg{
            display: none;
        }
    }
    .modal-dialog{
        .bgNoBorder{
            height: 100%;
            width: 100%;
        }
    }
}

.bgDarkModal{
    background-color: black;
    color: white;
}

.bgDarkImportant{
    background-color: black !important;
}

.ModalBlue{
    background-image: url('../../../assets/img/FondoAzul.png');
    text-align: justify;
    background-size: cover;
    font-family: sans-serif;
    box-shadow: 0px 0px 30px transparent, 0px 0px 60px #2f2bd6;
}

.ModalRed{
    background-image: url('../../../assets/img/FondoRojo.png');
    text-align: justify;
    background-size: cover;
    font-family: sans-serif;
    box-shadow: 0px 0px 30px transparent, 0px 0px 60px #d82b2b;
}

.ModalGray{
    background-image: url('../../../assets/img/Fondo 2.png');
    text-align: justify;
    background-size: cover;
    font-family: sans-serif;
    box-shadow: 0px 0px 30px transparent, 0px 0px 60px #ada3a3;
}

.ModalVirtual {
    background: transparent;
    // border: 2px solid #2f2bd6;
    box-shadow: 2px 2px 15px #000000 inset;
    text-align: center;
    color: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pacifico';
    transition: all 0.3s;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.hideClose{
    .modal-header{
        .closeBg{
            display: none;
        }
    }
}

  
@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
