<div class="modal fade" id="{{idTarget}}" data-bs-keyboard="true" tabindex="-1"
    attr.aria-labelledby="{{idTarget}}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" [ngClass]="[ !visibleM ? 'visible-modal': '' ]">
            <div class="modal-header" >
                <ng-template [ngTemplateOutlet]="this.header" ></ng-template>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ng-template [ngTemplateOutlet]="this.content" ></ng-template>
            </div>
            <div class="modal-footer">
                <ng-template [ngTemplateOutlet]="this.footer"></ng-template>
            </div>
        </div>
    </div>
</div>