<div class="modal fade" id="{{idTarget}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    attr.aria-labelledby="{{idTarget}}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-{{tamanio}}">
        <div class="{{ visibleCard ? 'cardModal': '' }} modal-content {{bgModal}}" [ngClass]="[ !visibleM ? 'visible-modal': '' ]">
            <div class="modal-header" >
                <ng-template [ngTemplateOutlet]="this.header" ></ng-template>
                <button type="button" class="closeBg" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <ng-template [ngTemplateOutlet]="this.content" ></ng-template>
            </div>
            <div class="modal-footer">
                <ng-template [ngTemplateOutlet]="this.footer"></ng-template>
            </div>
        </div>
    </div>
</div>