<div class="row">
    <div class="col-6 content-audio" style="min-width: 350px;">
        <audio #audioContainer src="" ></audio>
        <div class="box">
            <div #visualizerBox class="visualizer"></div>
        </div>
        <div #playAudio class="play">
            <div #btn class="btn-play" (click)="eventPlay()"></div>
        </div>
    </div>
    <div class="col-6 content-List">
        <div class="list-music">
            <div class="row">
                <div class="col-12">
                    <div class="txt anim-text-flow">
                        <span class="">{{ this.nameBand }}</span>
                    </div>
                </div>
                <hr>
                <div class="col-12">
                    <div class="list-band">
                        <ul>
                            <li *ngFor="let song of this.listPodCast; let i = index" class="mt-2">
                                <a (click)="eventChangeSong(song)">
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="./../../../assets/img/foo.jpg" alt=""
                                                style="width: 70%; border-radius: 50%;">
                                        </div>
                                        <div class="col-9">
                                            <div class="item_song">
                                                <span>
                                                    {{ i + 1 + '. ' + song.name_cancion}}
                                                </span>
                                                <span><img src="./../../../assets/img/sound-size.gif" width="80px" alt=""></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>