<ng-particles
  [id]="id"
  [options]="particlesOptions"
  [particlesInit]="particlesInit"
  (particlesLoaded)="particlesLoaded($event)"
>
</ng-particles>

<div class="col-12 position-front">
  <div class="col-md-12 row">
    <!-- <div class="col-md-4"><h1 style="color:white">Hola mundo</h1></div>
    <div class="col-md-4"><h1 style="color:white">Hola mundo</h1></div>
    <div class="col-md-4"><h1 style="color:white">Hola mundo</h1></div> -->
    <div class="col-md-12 " align="center">
      <img class="imgMariposa" src="../../assets/img/home/MariposaHome.png">
    </div>
  </div>
</div>