.position-front {
  position: absolute;
  z-index: 100;
}

.imgMariposa {
  width: 63%;
}

/** Estilos reproductor abajo */
#app-cover {
  position: fixed;
  bottom: 1%;
  right: 0;
  left: 0;
  width: 50%;
  height: 10%;
  margin: -4px auto;
}

#bg-artwork {
  position: fixed;
  top: -30px;
  right: -30px;
  bottom: -30px;
  left: -30px;
  background-image: url("https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  filter: blur(40px);
  -webkit-filter: blur(40px);
  z-index: 1;
}

#bg-layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.51;
  z-index: 2;
}

#player {
  position: relative;
  height: 100%;
  z-index: 3;
}

#player-track {
  position: absolute;
  top: 0;
  right: 15px;
  left: 15px;
  padding: 13px 22px 40px 184px;
  border-radius: 15px 15px 0 0;
  transition: 0.3s ease top;
  z-index: 1;
  background-size: cover;
}

#player-track.active {
  top: -147%;
}

#album-name {
  color: #54576f;
  font-size: 17px;
  font-weight: bold;
}

#track-name {
  color: #acaebd;
  font-size: 13px;
  margin: 2px 0 13px 0;
}

#track-time {
  height: 12px;
  margin-bottom: 3px;
  overflow: hidden;
}

#current-time {
  float: left;
}

#track-length {
  float: right;
}

#current-time,
#track-length {
  color: transparent;
  font-size: 11px;
  background-color: #ffe8ee;
  border-radius: 10px;
  transition: 0.3s ease all;
}

#track-time.active #current-time,
#track-time.active #track-length {
  color: #f86d92;
  background-color: transparent;
}

#s-area,
#seek-bar {
  position: relative;
  height: 4px;
  border-radius: 4px;
}

#s-area {
  background-color: #ffe8ee;
  cursor: pointer;
}

#ins-time {
  position: absolute;
  top: -29px;
  color: #fff;
  font-size: 12px;
  white-space: pre;
  padding: 5px 6px;
  border-radius: 4px;
  display: none;
}

#s-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: 2;
}

#ins-time,
#s-hover {
  background-color: #3b3d50;
}

#seek-bar {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #fd6d94;
  transition: 0.2s ease width;
  z-index: 1;
}

#player-content {
  position: relative;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 30px 80px #656565;
  border-radius: 15px;
  z-index: 2;
}

#album-art {
  position: absolute;
  top: -40px;
  width: 80px;
  height: 80px;
  margin-left: 40px;
  transform: rotateZ(0);
  transition: 0.3s ease all;
  box-shadow: 0 0 0 10px #fff;
  border-radius: 50%;
  overflow: hidden;
}

#album-art.active {
  top: -60px;
  box-shadow: 0 0 0 4px #fff7f7, 0 30px 50px -15px #afb7c1;
}

#album-art:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin: -10px auto 0 auto;
  background-color: #d6dee7;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px #fff;
  z-index: 2;
}

#album-art img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

#album-art img.active {
  opacity: 1;
  z-index: 1;
}

#album-art.active img.active {
  z-index: 1;
  animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@keyframes rotateAlbumArt {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

#buffer-box {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: 13px;
  color: #1f1f1f;
  font-size: 13px;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  padding: 6px;
  margin: -12px auto 0 auto;
  background-color: rgba(255, 255, 255, 0.19);
  opacity: 0;
  z-index: 2;
}

#album-art img,
#buffer-box {
  transition: 0.1s linear all;
}

#album-art.buffering img {
  opacity: 0.25;
}

#album-art.buffering img.active {
  opacity: 0.8;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box {
  opacity: 1;
}

#player-controls {
  width: 100%;
  height: 103%;
  overflow: hidden;
  background-size: cover;
}

.control {
  width: 33.333%;
  float: left;
  padding: 12px 0;
}

.button {
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
}

.button i {
  display: block;
  color: #d6dee7;
  font-size: 26px;
  text-align: center;
  line-height: 1;
}

.button,
.button i {
  transition: 0.2s ease all;
}

.button:hover {
  background-color: #d6d6de;
}

.button:hover i {
  color: #fff;
}

.style-buffer {
  position: inherit;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border-top: 40px solid #fff;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  transform-origin: top left;
  transition: 0.25s;
}

.left-galaxias {
  .galaxia1 {
    display: inline-block;
    position: fixed;
    top: 8%;
    left: 10%;
    .galaxia {
      img {
        cursor: pointer;
        border-radius: 50%;
        width: 38%;
        margin-bottom: 10px;
        transition: transform 250ms;
      }
    }
    .galaxia:hover {
      img {
        transform: scale(120%);
      }
    }
  }
  .galaxia2 {
    display: inline-block;
    position: fixed;
    top: 42%;
    left: 19%;
    .galaxia {
      img {
        cursor: pointer;
        border-radius: 50%;
        width: 23%;
        margin-bottom: 10px;
        transition: transform 250ms;
      }
    }
    .galaxia:hover {
      img {
        transform: scale(120%);
      }
    }
  }
  .galaxia3 {
    display: inline-block;
    position: fixed;
    top: 70%;
    left: 35%;
    .galaxia {
      img {
        cursor: pointer;
        border-radius: 50%;
        width: 19%;
        margin-bottom: 10px;
        transition: transform 250ms;
      }
    }
    .galaxia:hover {
      img {
        transform: scale(120%);
      }
    }
  }
  .galaxia4 {
    display: inline-block;
    position: fixed;
    top: 82%;
    left: 5%;
    .galaxia {
      img {
        cursor: pointer;
        border-radius: 50%;
        width: 24%;
        margin-bottom: 10px;
        transition: transform 250ms;
      }
    }
    .galaxia:hover {
      img {
        transform: scale(120%);
      }
    }
  }
  .galaxia5 {
    display: inline-block;
    position: fixed;
    top: 20%;
    left: 85%;
    .galaxia {
      img {
        cursor: pointer;
        border-radius: 50%;
        width: 60%;
        margin-bottom: 10px;
        transition: transform 250ms;
      }
    }
    .galaxia:hover {
      img {
        transform: scale(120%);
      }
    }
  }
  .galaxia6 {
    display: inline-block;
    position: fixed;
    top: 65%;
    left: 69%;
    .galaxia {
      img {
        cursor: pointer;
        border-radius: 50%;
        width: 40%;
        margin-bottom: 10px;
        transition: transform 250ms;
      }
    }
    .galaxia:hover {
      img {
        transform: scale(120%);
      }
    }
  }
}

.galaxia {
  img {
    cursor: pointer;
    border-radius: 50%;
    width: 20%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1920px) {
  .estrellas {
    .podcast-1 {
      cursor: pointer;
      display: flex;
      position: fixed;
      top: 61%;
      left: 36%;
      img {
        width: 28px;
        transition: 1s;
      }
    }
    .podcast-2 {
      cursor: pointer;
      display: flex;
      position: fixed;
      top: 30%;
      left: 43%;
      img {
        width: 28px;
        transition: 1s;
      }
    }
    .podcast-3 {
      cursor: pointer;
      display: flex;
      position: fixed;
      top: 43.5%;
      left: 51.5%;
      img {
        width: 25px;
        transition: 1s;
      }
    }
    .podcast-4 {
      cursor: pointer;
      display: flex;
      position: fixed;
      top: 28%;
      left: 62%;
      img {
        width: 32px;
        transition: 1s;
      }
    }
    .podcast-5 {
      cursor: pointer;
      display: flex;
      position: fixed;
      top: 66%;
      left: 51.5%;
      img {
        width: 32px;
        transition: 1s;
      }
    }
    .podcast-6 {
      cursor: pointer;
      display: flex;
      position: fixed;
      top: 55%;
      left: 44.5%;
      img {
        width: 32px;
        transition: 1s;
      }
    }
    .podcast-7 {
      cursor: pointer;
      display: flex;
      position: fixed;
      top: 65.4%;
      left: 42.6%;
      img {
        width: 19px;
        transition: 1s;
      }
    }
    .podcast-8 {
      cursor: pointer;
      display: flex;
      position: fixed;
      top: 38%;
      left: 57.5%;
      img {
        width: 21px;
        transition: 1s;
      }
    }
    .podcast-9 {
      cursor: pointer;
      display: flex;
      position: fixed;
      top: 79%;
      left: 52.5%;
      img {
        width: 25px;
        transition: 1s;
      }
    }
  }
}

@media screen and (max-width: 1536px) {
  .estrellas {
    .podcast-1 {
      cursor: pointer;
      display: flex;
      position: fixed;
      top: 59.5%;
      left: 37.4%;
      img {
        width: 28px;
        transition: 1s;
      }
    }
    .podcast-2 {
      cursor: pointer;
      display: flex;
      position: fixed;
      top: 30.5%;
      left: 43.5%;
      img {
        width: 28px;
        transition: 1s;
      }
    }
    .podcast-3 {
      cursor: pointer;
      display: flex;
      position: fixed;
      top: 43.5%;
      left: 51%;
      img {
        width: 25px;
        transition: 1s;
      }
    }
    .podcast-4 {
      cursor: pointer;
      display: flex;
      position: fixed;
      top: 28.8%;
      left: 60%;
      img {
        width: 32px;
        transition: 1s;
      }
    }
    .podcast-5 {
      cursor: pointer;
      display: flex;
      position: fixed;
      top: 65%;
      left: 51.5%;
      img {
        width: 32px;
        transition: 1s;
      }
    }
    .podcast-6 {
      cursor: pointer;
      display: flex;
      position: fixed;
      top: 55%;
      left: 44.5%;
      img {
        width: 32px;
        transition: 1s;
      }
    }
    .podcast-7 {
      cursor: pointer;
      display: flex;
      position: fixed;
      top: 63.7%;
      left: 43.8%;
      img {
        width: 19px;
        transition: 1s;
      }
    }
    .podcast-8 {
      cursor: pointer;
      display: flex;
      position: fixed;
      top: 38.3%;
      left: 56.2%;
      img {
        width: 21px;
        transition: 1s;
      }
    }
    .podcast-9 {
      cursor: pointer;
      display: flex;
      position: fixed;
      top: 78%;
      left: 52.5%;
      img {
        width: 25px;
        transition: 1s;
      }
    }
  }
}

.img-change-size {
  transform: scale(2.5);
}

.content-fixed {
  display: flex;
  position: fixed;
  top: 0%;
  z-index: 1;
  right: 1%;
}

.content-glisch {
  width: 100%;
  background: transparent;
  padding: 30px;
  color: #fff;
  display: flex;
  align-items: center !important;
  justify-content: flex-start;
  overflow: hidden;

  h1 {
    font-family: 'Reboot';
    font-size: 0.6rem;
    position: relative;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    color: rgb(160, 157, 157);
    text-shadow: 1px 1px rgba(190,30,214, 0.8), -1px -1px rgba(35,72,202, 0.8), -1px 0px rgba(121,239,215, 1);
    text-align: initial;
    line-height: normal;
  }
  
  h1:hover {
    animation: wiggle 0.2s 2;
    text-shadow: 30px 13px rgba(190,30,214, 0.8), -38px -4px rgba(35,72,202, 0.8), -2px -4px rgba(121,239,215, 1);
  }
  
  h1:hover:after {
    content: ":̪̺̠̺͗ͨ̋ͩ͗:̛͇̱̥̥̙̎͆̑ͮ̐͢:̷̲ͮ̃́̅ͦ̔͐̆:̴͈͖̮̪̗̈́̆̀:̨̙̗̺̞̥͗̐ͫ:̗̰̜̟̮̦̉̂";
    z-index: -100;
    position: absolute;
    left: 1em;
    top: -1em;
    transform: rotate(41deg);
  }
}