<app-modal-component idTarget="openReproductor" [visibleM]="false" bgModal="bgTransparentModal bgNoBorder"
  [visibleCard]="false" tamanio="lg">
  <ng-template #title></ng-template>
  <ng-template #header>
    <div class="row">
      <div class="col-12">
        <app-reproductor-component></app-reproductor-component>
      </div>
    </div>
  </ng-template>
  <ng-template #footer></ng-template>
</app-modal-component>

<div class="col-12 position-front">
  <div class="col-md-12 row">
    <div class="col-md-4">
      <div *ngFor="let p of podcastPrincipal">
        <p>{{ p.name_podcast }}</p>
      </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>

  <a data-bs-toggle="modal" data-bs-target="#openReproductor">Hola</a>

  <ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)">
  </ng-particles>