<app-three (sendObjectSelected)="actionClickObject($event)"></app-three>

<div class="texto-curatorial">
  <button (click)="openTextModal()">
    <!-- <i class="bi bi-file-earmark-richtext-fill"></i>  -->
    <img src="../../assets/img/TEXTO CURATORIAL - ARTES.png" width="100%">
  </button>
</div>


<app-modal-component idTarget="openModalThreeIcono1" [visibleM]="false" bgModal=" ModalVirtual bgNoBorder hideClose "
  [visibleCard]="true" tamanio="lg">
  <ng-template #title></ng-template>
  <ng-template #header>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-6 image-zoom">
            <img class=" animate__animated animate__fadeInLeft"
              src="../../assets/img/Tree/MovimientCallejero/icono1/PLUMAS2.jpg" width="100%" alt="">
          </div>
          <div class="col-6 center-content">
            <div>
              <p>En Honor a los caídos</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 center-content">
            <div>
              <p>2029</p>
              <br>
              <p>Grafitti Holográfico</p>
            </div>
          </div>
          <div class=" col-6 image-zoom">
            <img class=" animate__animated animate__fadeInRight"
              src="../../assets/img/Tree/MovimientCallejero/icono1/PLUMAS5.jpg" width="100%" alt="">
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #footer></ng-template>
</app-modal-component>

<app-modal-component idTarget="openModalThreeIcono2" [visibleM]="false" bgModal="ModalVirtual bgNoBorder hideClose"
  [visibleCard]="true" tamanio="lg">
  <ng-template #title></ng-template>
  <ng-template #header>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="row">
            <div class="col-6 center-content">
              <div class="animate__animated animate__fadeInRight">
                <h3>
                  La danza de las nano
                </h3>
              </div>
            </div>
            <div class="col-6">
              <div class="animate__animated animate__fadeInLeft">
                <p>2035</p>
                <p>Intervención en el espacio con Nanopartículas.</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <img src="../../assets/img/Tree/MovimientCallejero/icono2/insectos-06.png" alt="" width="100%">
          </div>
          <div class="col-8">
            <img src="../../assets/img/Tree/MovimientCallejero/icono2/insectos_nombres-11.png" alt="" width="100%">
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #footer></ng-template>
</app-modal-component>

<app-modal-component idTarget="openModalThreeIcono3" [visibleM]="false" bgModal=" ModalVirtual bgNoBorder hideClose "
  [visibleCard]="true" tamanio="xl">
  <ng-template #title></ng-template>
  <ng-template #header>
    <div class="row">
      <div class="col-6 center-content">
        <div>
          <h3>Proyección superliminal</h3>
        </div>
      </div>
      <div class="col-6 ">
        <div>
          <p>2038</p>
          <p>Mapping Holográfico</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="image-zoom">
          <!-- <ng-image-slider #nav [images]="imageObject" [infinite]="false" [autoSlide]="1"
            [imageSize]="{width: '100%', height: 200}" slideImage="1"></ng-image-slider> -->
          <img class="animate__animated animate__rollIn" id="fullScreen"
            src="../../assets/img/Tree/MovimientCallejero/icono3/Mariposas_gIF.gif" width="100%">
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #footer></ng-template>
</app-modal-component>

<app-modal-component idTarget="openModalThreeIcono4" (closeEvent)="activeAudio('icono4')" [visibleM]="false"
  bgModal=" ModalVirtual bgNoBorder hideClose " [visibleCard]="true" tamanio="xl">
  <ng-template #title></ng-template>
  <ng-template #header>
    <div class="row">
      <div class="col-9">
        <video id="icono4" src="../../assets/img/Tree/MovimientCallejero/icono4/La tecnocotidianidad.mp4" width="100%"
          controls loop></video>
      </div>
      <div class="col-3 center-content">
        <div class="animate__animated animate__fadeInRight">
          <h3>La tecnocotidianidad</h3>
          <p>2033</p>
          <p>Video experimental</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #footer></ng-template>
</app-modal-component>

<app-modal-component idTarget="openModalThreeIcono5" (closeEvent)="activeAudio('icono5')" [visibleM]="false"
  bgModal=" ModalVirtual bgNoBorder hideClose " [visibleCard]="true" tamanio="xl">
  <ng-template #title></ng-template>
  <ng-template #header>
    <div class="row">
      <div class="col-9">
        <video id="icono5" src="../../assets/img/Tree/MovimientCallejero/icono5/Wilmer Mayolo Sinestesia.mp4"
          width="100%" controls></video>
      </div>
      <div class="col-3 center-content">
        <div class="animate__animated animate__fadeInRight">
          <h3>Sinestesia</h3>
          <p>2035</p>
          <br>
          <p>Pintura sinestésica evocadora (Microtransmisor Audiovisual reproductivo)</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #footer></ng-template>
</app-modal-component>

<app-modal-component idTarget="openModalThreeIcono6" (closeEvent)="activeAudio('icono6')" [visibleM]="false"
  bgModal=" ModalVirtual bgNoBorder hideClose " [visibleCard]="true" tamanio="xl">
  <ng-template #title></ng-template>
  <ng-template #header>
    <div class="row">
      <div class="col-9">
        <video id="icono6" src="../../assets/img/Tree/MovimientCallejero/icono6/La desaparición de Colombia.mp4"
          width="100%" controls loop></video>
      </div>
      <div class="col-3 center-content">
        <div class="animate__animated animate__fadeInRight">
          <h4> La desaparición de Colombia </h4>
          <p>2029</p>
          <br>
          <p> graffiti digital </p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #footer></ng-template>
</app-modal-component>

<app-modal-component idTarget="openModalThreeIcono7" (closeEvent)="activeAudio('icono7')" [visibleM]="false"
  bgModal=" ModalVirtual bgNoBorder hideClose " [visibleCard]="true" tamanio="xl">
  <ng-template #title></ng-template>
  <ng-template #header>
    <div class="row">
      <div class="col-9">

        <video id="icono7" src="../../assets/img/Tree/MovimientCallejero/icono7/Significado en piel.mp4" width="100%"
          controls loop></video>
      </div>
      <div class="col-3 center-content">
        <div class="animate__animated animate__fadeInRight">
          <h4> Significado en piel </h4>
          <p>2032</p>
          <br>
          <p> Tinta Electro Pictórica corporal </p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #footer></ng-template>
</app-modal-component>

<app-modal-component idTarget="openModalThreeIcono8" [visibleM]="false" bgModal="ModalVirtual bgNoBorder hideClose"
  [visibleCard]="true" tamanio="xl">
  <ng-template #title></ng-template>
  <ng-template #header>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-9">
            <video id="icono8" src="../../assets/img/Tree/MovimientCallejero/icono8/Partículas binarias.mp4"
              width="100%" controls loop></video>
          </div>
          <div class="col-3 center-content">
            <div class="animate__animated animate__fadeInRight">
              <h4> Partículas binarias </h4>
              <p>2034</p>
              <br>
              <p> Aerografía técnico-binaria </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #footer></ng-template>
</app-modal-component>

<app-modal-component idTarget="openModalThreeIcono9" (closeEvent)="activeAudio('icono9')" [visibleM]="false"
  bgModal=" ModalVirtual bgNoBorder hideClose " [visibleCard]="true" tamanio="xl">
  <ng-template #title></ng-template>
  <ng-template #header>
    <div class="row">
      <div class="col-9">
        <video id="icono9" src="../../assets/img/Tree/MovimientCallejero/icono9/2025 Miriam Bustamante Video.mp4"
          width="100%" controls loop></video>
      </div>
      <div class="col-3 center-content">
        <div class="animate__animated animate__fadeInRight">
          <h4> Desvanecida </h4>
          <p>2035</p>
          <br>
          <p> Pintura codificada </p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #footer></ng-template>
</app-modal-component>

<app-modal-component idTarget="openModalIconoNido" [visibleM]="false" bgModal=" ModalVirtual bgNoBorder hideClose "
  [visibleCard]="true" tamanio="lg">
  <ng-template #title></ng-template>
  <ng-template #header>
    <div class="row">
      <div class="col-9 image-zoom">
        <img src="../../assets/img/Tree/MovimientCallejero/nido/Nido.png" alt="" width="100%">
      </div>
      <div class="col-3 " style="display: flex; align-items:center;">
        <div class="animate__animated animate__fadeInDown">
          <h5>Migrando al origen</h5>

          <p class="mt-3">2037</p>

          <p>LandArt - ReHacer Andino</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #footer></ng-template>
</app-modal-component>


<app-modal-component idTarget="openModalText" [visibleM]="false"
  bgModal="bgDarkModal ModalBlue bgNoBorder bgDarkImportant" [visibleCard]="true" tamanio="lg">
  <ng-template #title>
    <h4>TEXTO CURATORIAL</h4>
  </ng-template>
  <ng-template #header>
    <div class="row">
      <div class=" col-12 text-principal">
        <p class="animate__animated animate__bounceInRight">
          Este es un recopilado de parte de BIA 045 de los movimientos artísticos más significativos entre el año 2026 a
          2040 y algo más. Cada uno de los artistas o movimientos que se exponen en esta galería representan aspectos de
          vital importancia social, económica o política para la sociedad en donde circundaron. Desafortunadamente cada
          uno de los movimientos desapareció después de la guerra, solo quedaron algunos vestigios de su historia y sus
          artistas que se describirán a continuación:
        </p>

        <h5 class="animate__animated animate__bounceInLeft">Movimiento Callejero-Galería (2026-30)</h5>
        <p class="animate__animated animate__bounceInRight">
          Esta primera etapa artista de <strong>Grafiti holográfico</strong> en calle se realizó con elementos muy
          rústicos y construidos por sus propios miembros.
        </p>
        <p class="animate__animated animate__bounceInRight">
          En esta primera etapa del movimiento no se destacaron artistas, ya que tomaron como base el Dogma 95 para su
          desarrollo. En donde los artistas grafiteros no firmaban sus obras, sino que colocaban una firma comunal con
          el
          nombre de: Los errados (nombre generado por ellos al determinarse como seres que no se adecuaban al engranaje
          de
          la dictadura).
        </p>
        <p class="animate__animated animate__bounceInRight">
          Este movimiento se reunía en espacios clandestinos y grafiteaba las calles en altas horas de la noche o de la
          madrugada cuando no existía visibilidad de parte de militares y policía. Se concentraban sobre todo en las
          ciudades grandes, pero existen datos de artistas en zonas rurales que muy poco se visibilizaron.
        </p>
        <p class="animate__animated animate__bounceInRight">
          Se caracterizaron por criticar la dictadura de Benavidez Romero con mensajes fuertes y directos, a veces
          ofensivos. En ocasiones tenían una perspectiva más simbólica en sus grafitis.
        </p>
        <p class="animate__animated animate__bounceInRight">
          El movimiento tuvo un golpe muy fuerte casi al finalizar la dictadura en 2031 debido a que se asesinaron a
          muchos de sus miembros en la llamada: “Masacre de los caídos”, en donde militares radicales de Benavidez
          entraron, perfilaron y secuestraron diversos jóvenes presuntos del movimiento y los violaron (principalmente a
          las mujeres) y asesinaron con un balazo en la cabeza.
        </p>
        <p class="animate__animated animate__bounceInRight">
          Durante su más grande frente de expresión entre 2026 y 2030 fueron asesinados más de 30 miembros y
          desaparecidos
          otros 20.
        </p>
        <p class="animate__animated animate__bounceInRight">
          Después de la dictadura el movimiento se dispersó y se revelaron varios nombres de sus miembros que re
          fundamentaron el arte callejero y lo llevaron a Galerías.
        </p>

        <h5 class="animate__animated animate__bounceInLeft">Callejero-galería de autor / Ramiro Restrepo (2031-32).</h5>
        <p class="animate__animated animate__bounceInRight">
          Nacido en Bogotá en 2001, fue miembro de Los errados, movimiento de grafiti casi desaparecido. Pese a que ese
          movimiento no revelaba su nombre, cinco integrantes de este decidieron hacerlo al montar la Galería con el
          nombre de Doyógrafo dirigida por Mario Martínez.
        </p>
        <p class="animate__animated animate__bounceInRight">
          Se hicieron llamar: Los nuevos errados, pero los sobrevivientes del primer movimiento los rebautizaron como
          Los
          erratas, por su posterior vinculación con el estado en muchos aspectos y el cual se utilizó en la jerga común
          después por todos los artistas.
        </p>
        <p class="animate__animated animate__bounceInRight">
          Las obras de Restrepo se encuentran más cercanas a una simplificación de la vida cotidiana de los andinenses
          desde la tecnología y algunos procesos relacionados a las grandes industrias y su avance en el país. Más que
          una
          crítica a ello parece aceptarlo y lo toma como parte de los procesos necesarios para una vida. También,
          realiza
          una reinterpretación de las obras que dice supuestamente realizó cuando era miembro de Los errados.
        </p>
        <p class="animate__animated animate__bounceInRight">
          Sus obras más significativas son Emocionotronic familiar (2032); La tecnocotidianidad (2033) y El mirar
          posmoderno (2033). Lamentablemente sus obras desaparecieron en la quema del Doyógrafo. Solo se conservan sus
          piezas reinterpretadas.
        </p>

        <h5 class="animate__animated animate__bounceInLeft">Pos-realismo Purista (2032-36)</h5>
        <p style="font-style: oblique;">Juan Mauricio Vélez</p>
        <p class="animate__animated animate__bounceInRight">
          Artista del movimiento purista del pos-realismo Andino, que centró su obra en la relación entre la
          tecnología,
          el sistema binario y el diseño gráfico holográfico.
        </p>
        <p class="animate__animated animate__bounceInRight">
          Vélez, siendo de familia pudiente, se crió junto a su padre dentro de todo lo que simbolizaron los procesos de
          avances tecnológicos y tuvo su mayor acercamiento al ingresar DinamicVIR al país.
        </p>
        <p class="animate__animated animate__bounceInRight">
          Por ello, su obra jamás buscó la crítica de los procesos del país o tuvo acercamiento a las clases medias y
          bajas. Toda su obra acercó la relación entre los cuerpos biológicos, la tecnología y el sistema binario,
          generando una relación de códigos binarios que realzaban los cuerpos.
        </p>
        <p class="animate__animated animate__bounceInRight">
          Toda su obra se podía observar de manera gratuita y sin restricciones a quienes tuvieran la posibilidad de
          acceder a la red virtual por medio del direccionador de red virtual en la Galería DinamicArt.
        </p>
        <p style="font-style: oblique;">
          Wilber Mayolo
        </p>
        <p class="animate__animated animate__bounceInRight">
          Ingeniero de profesión de la Universidad Nacional Andinense y artista por hobbie. Por lo menos en sus primeras
          etapas en 2032 cuando el avance tecnológico del país andino apenas estaba comenzando a recuperarse después de
          la
          dictadura, sus prototipos para nanotecnología artística no fueron bien recibidos.
        </p>
        <p class="animate__animated animate__bounceInRight">
          Inventor del primer prototipo de Nano art en 2034, que construyó en su propio estudio y que después patentó y
          desarrolló con apoyo de DinamicVIR para finales de 2035.
        </p>
        <p class="animate__animated animate__bounceInRight">
          Su más famosa obra que es un compendio se llamó: La danza de las nanoratas (2035), en donde exhibió en la
          gigante galería independiente El Odeón partículas nanotecnológicas de ratas y otros animales e insectos que
          las
          personas podía respirar por el aire, simbolizando cómo la corrupción y, tratos con empresas privadas invadía
          de
          nuevo al país Andino, así como dijo él: Incluso hasta en el aire se puede percibir la corrupción.
        </p>
        <p class="animate__animated animate__bounceInRight">
          La única forma de verlo era con una lupa especial creada por él y microscopios que pudieran llevar los
          asistentes. La entrada era libre para cualquier persona, sin importar su tipo de identificación (Chip o cédula
          antigua).
        </p>
        <p class="animate__animated animate__bounceInRight">
          Su movimiento se basó en la experimentación igual que Fluxus, pero su estilo era más elaborado y crítico. Fue
          vetado de las galerías estatales después de su exhibición La danza de las nanoratas e incluso DinamicVIR le
          retiró su financiación. Desapareció en el 2036 después de decir que tendría una obra preparada que
          revolucionaría la vida del país y haría revuelco en empresas poderosas. Jamás se logró saber de su paradero.
        </p>
        <p class="animate__animated animate__bounceInRight">
          Se presume que su desaparición tuvo que ver con la caída de DinamicVIR a finales de aquel año de 2036.
        </p>
        <p style="font-style: oblique;">
          Miriam Bustamante (2035-39)
        </p>
        <p class="animate__animated animate__bounceInRight">
          Destacada artista del movimiento pos-realista que siempre fue crítica a la sociedad tecnológica promovida por
          el
          estado y desarrollada por DinamicVIR con quien tuvo diversos encuentros penales por acoso y supuestas amenazas
          de muerte.
        </p>
        <p class="animate__animated animate__bounceInRight">
          Sus obras se centraron en mostrar en las calles de la red virtual piezas que mostraban la dependencia de la
          tecnología por parte de los andinenses. Ante esto, sus críticos siempre fueron recurrentes al mencionar que
          usaba el medio para criticar al medio, a lo cual se recupera su frase: El medio debe ser crítico consigo para
          que no se convierta en el medio.
        </p>
        <p class="animate__animated animate__bounceInRight">
          Después de la caída definitiva de la red en 2037, y la reorganización, Bustamante comenzó a recurrir a estilos
          más gráficos y físicos en sus obras al punto de convertirse en una desarrolladora del antigua panfleto (Código
          en software libre, acciones en art.net o anymous del arte).
        </p>
        <p class="animate__animated animate__bounceInRight">
          Bustamante tiene obras famosas entre las que se destacan: La red y el cuerpo (2035); Panfletos de las Tics
          (2037); La tecnología y yo (2039), este último un performance (¿que se entiende por performance?) que recoge
          una
          versión de la red virtual de DinamicVir y la convierte en una obra tangible tipo laberinto.
        </p>
        <h5 class="animate__animated animate__bounceInLeft">
          Re-hacer Andino (2037- ¿?)
        </h5>
        <p style="font-style: oblique;">
          Leydy Quintero
        </p>
        <p class="animate__animated animate__bounceInRight">
          Artista y ambientalista que desarrolló todo su trabajo con la planta FO como parte de sus llamados rituales de
          construcción en donde intentaba buscar los elementos de la planta más naturales posibles para entrar en transe
          al momento de desarrollar su obra.
        </p>
        <p class="animate__animated animate__bounceInRight">
          Jugó a reinterpretar obras de otros movimientos, sobre todo el Callejero de los errados del cual tomó piezas
          desarrolladas en la ciudad y las transformó en obras que tenían total empatía con el campo. Recordando que fue
          por aquella época en la que el campo tomó más relevancia en el estado.
        </p>
        <p class="animate__animated animate__bounceInRight">
          El movimiento fue conocido como re-hacer naturalista y fue una de las principales exponentes. Su relación con
          la
          naturaleza y la influencia del Landart y Nery Oxman, le dieron el sello único que la convirtió en la artista
          del
          nuevo país, cuando fue nombrada ministra de cultura y arte en el gobierno de Mario Martínez en el 2040.
        </p>
        <p class="animate__animated animate__bounceInRight">
          Muchos mencionan que por su edad (40 años al momento de ser ministra) pudo ser una de Los errados debido a su
          uso de aquellas obras y el acercamiento con Mario Martínez, pero no son más que especulaciones.
        </p>
        <p style="font-style: oblique;">
          Lexus Morantes
        </p>
        <p class="animate__animated animate__bounceInRight">
          Artista que desarrolló su obra en recuperar las tecnologías de pos-realismo andino pero asociadas hacia el
          mapping en calle holográfico y las influencia de Olafur Eliasson.
        </p>
        <p class="animate__animated animate__bounceInRight">
          Bajo la influencia del FO en todas sus posibilidades legales (y se dice que ilegales) promovió propuestas en
          calle y recintos cerrados con diversos elementos como objetos electrónicos, drogas, rostros, cuerpos y demás
          sin
          tener ningún tipo de arte o ideología predefinada, aunque los cuerpos que proyectaba eran normalmente de
          transexuales, considerándose uno.
        </p>
        <p class="animate__animated animate__bounceInRight">
          Su más grande proyecto fue la proyección superliminal, nombre que tuvo su movimiento dentro del Re-hacer
          andino,
          en donde colocó una mapping holográfico sobre la plaza mayor de Bogotá y proyectó toda una noche las plantas y
          drogas que había usado para poder crear aquella pieza.
        </p>

      </div>
    </div>
  </ng-template>
  <ng-template #footer></ng-template>
</app-modal-component>