<!-- Spinner  -->
<ngx-spinner [name]="spinerMariposa" template = "<img src='assets/img/Cargando_Gif.gif'/>"></ngx-spinner>
<!-- Spinner END -->

<div class="d-flex flex-column flex-shrink-0 p-3 text-white color-menu fix-nav"
    [ngClass]=" [!this.open_side_car? 'fix-nav' : ' fix-nav--close fix-nav']">
    <div class="row">
        <div class="col-12">
        <div class="row">
            <div class="col-10" align="center" style="margin-top: 10px;">
                <h4 class="fs-4">PRODUCTOS AÑADIDOS</h4>
                <h6>Presupuesto Actual: {{ cantidadDolaresInicial - cantidadDolaresGastados }} dolares</h6>
            </div>
            <div class="col-2" style="cursor:pointer;">
                <a (click)="showSideBarCar(false)"><i class="fa fa-close"></i></a>
            </div>
        </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="nav-pills flex-column mb-auto" style="max-height: 82vh;overflow: auto;">
            <div class="col-md-12  nav-item" *ngFor="let pr of productsAddToCar">
                <div class="nav-link nav-voice-future divCarShopping">
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <img src="{{pr.imgReference}}" width="100%" style="border-radius: 20px;">
                        </div>
                        <div class="col-md-6">
                            <h5>{{ pr.name }}</h5>
                            <h6 [innerHTML]="pr.priceS"></h6>
                            <b>Características:</b> 
                            <p [innerHTML]="pr.caracteristica"></p>
                        </div>
                        <div class="col-md-10">
                            <b>Especificaciones:</b> 
                            <p [innerHTML]="pr.especificaciones"></p>
                        </div>
                        <div class="col-md-2">
                            <button class="btnPlataform btnCarShoppingDelete" (click)="deleteProductCar(pr.id,pr.price)"><i class="fa fa-trash" style="margin-top: 3px;"></i></button>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<div id="viewer" style="background-color: black; width: 100%; height: 100vh;"></div>


<div id="divViewCarShopping" class="btnViewCarShopping">
    <button class="btnPlataform btnCarShoppingAdd" (click)="showSideBarCar(true)">
        <!-- <span class="fa fa-music"></span> -->
        <div class="cntCarShopping"> {{ cantidadProductAddCar }}</div>
        <span class="fa fa-shopping-cart"></span>
    </button>
</div>

<app-modal-component idTarget="modalVirtualStore" tamanio="xl" bgModal="bgDarkModal ModalVirtual bgNoBorder hideClose" backdrop="static" keyboard="false">
    <ng-template #header>
        <div><h2>Bienvenido a la tienda del futuro</h2></div>
    </ng-template>
    <ng-template #content>
        <div>
            <form>
                <div class="firstQuestion">
                    <div class="form-group">
                        <label style="font-size: 20px;">A partir de su condición socio-neuronal y económica basada de su chip identificador Dinamic Vir, ¿qué nivel social tiene?</label>
                        <br><br>
                        <button class="btnPlataform btnFirst" data-value="1" (click)="selectOption($event, 1)" type="button">Alto</button>
                        <button class="btnPlataform btnFirst" data-value="2" (click)="selectOption($event, 1)" type="button">Medio</button>
                        <button class="btnPlataform btnFirst" data-value="3" (click)="selectOption($event, 1)" type="button">Bajo</button>
                        <br><br><br>
                        <button class="btnPlataform" type="button" [routerLink]="['/home']"> Salir </button>
                    </div>
                </div>
                <div class="secondsQuestion">
                    <div class="form-group">
                        <label style="font-size: 20px;">Incidente a su condición laboral, responda qué tipo de contrato tiene:</label>
                        <br><br>
                        <button class="btnPlataform btnSecond" (click)="selectOption($event, 2)" type="button">Definido de por vida.</button>
                        <button class="btnPlataform btnSecond" (click)="selectOption($event, 2)" type="button">Contrato indefinido a término quincenal.</button>
                        <button class="btnPlataform btnSecond" (click)="selectOption($event, 2)" type="button">Contrato por cuarto de hora.</button>
                    </div>
                    <br><br><br>
                    <button class="btnPlataform" type="button" (click)="retroceder(1)"> Atrás </button>
                </div>
                <div class="thirdQuestion">
                    <label style="font-size: 20px;">¿Cuál es su rango de edad asemeja? (Recuerde que es la edad que asemeja, no la real)</label>
                    <br><br>
                    <button class="btnPlataform btnThird" (click)="selectOption($event, 3)" type="button">18 a 32 años.</button>
                    <button class="btnPlataform btnThird" (click)="selectOption($event, 3)" type="button">33 a 55 años.</button>
                    <button class="btnPlataform btnThird" (click)="selectOption($event, 3)" type="button">56 en adelante.</button>
                    <br><br><br>
                    <button class="btnPlataform" type="button" (click)="retroceder(2)"> Atrás </button>
                </div>
            </form>
        </div>
    </ng-template>
    <ng-template #footer>
    </ng-template>
</app-modal-component>

<app-modal-component (closeEvent)="eventCloseModalProduct()" idTarget="modalProduct" tamanio="xl" bgModal="bgDarkModal ModalVirtual bgNoBorder">
    <ng-template #header>
        <div>
            <h1 id="nameProduct"></h1>
        </div>
    </ng-template>
    <ng-template #content>
        <div id="divContentProducto" class="col-12 row">
            
            <div class="col-4">
                <div class="card">
                    <div class="card2">
                        <img class="animate__animated animate__fadeInDown " id="imgFirstProduct" src="" width="100%">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card2">
                        <img class="animate__animated animate__fadeInDown animate__delay-1s" id="imgSecondProduct" src="" width="100%">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card2">
                        <img class="animate__animated animate__fadeInDown animate__delay-2s" id="imgThridProduct" src="" width="100%">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div align="center">
            <div class="col-6" >
                <h3 id="priceProduct"> </h3>
                <button class="btnPlataform" id="btnSoundProduct" (click)="startStopSoundProduct()">
                    <audio id="soundProduct" src="" style="display: none;"></audio>
                    <i class="fa "></i>
                </button>
                <button class="btnPlataform" id="btnAddCard" data-id="" type="button" (click)="addtoCar($event)">Añadir al carrito</button>
            </div>
            <div class="col-12"></div>
        </div>
    </ng-template>
    <ng-template #footer>
    </ng-template>
</app-modal-component>

<div id="alertProductAdd" class="alertFixed alert alert-aleteo-success">
    Añadido al carrito.
</div>
<div id="alertProductExist" class="alertFixed alert alert-aleteo-danger">
    Producto ya existente en el carrito.
</div>
<div id="alertProductExcedeLimit" class="alertFixed alert alert-aleteo-warning">
    Excede el presupuesto.
</div>

<a id="btnModalPrincipal" data-bs-toggle="modal" data-bs-target="#modalVirtualStore" href="#" aria-current="page" style="display: none;"></a>
