<div class="col-12">
    <div class="img-agua  col-12">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row imgMariposa">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6 navigation-link" (click)="routePages('podcast')">
                                </div>
                                <div class="col-6 navigation-link" (click)="routePages('virtual-store')">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6 navigation-link" (click)="routePages('tree-page')">
                                </div>
                                <div class="col-6 navigation-link" (click)="routePages('contents')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 1)" template="<img src='assets/img/mariposa.gif' />">
</ngx-spinner>