.img-agua{
    width: 100%;
    height: 110vh;
    // height: 100%;
    background-color: black;
    background-size: cover;
}
.position-front {
    position: absolute;
    z-index: 100;
}
// .content-padding {
//     padding: 10%;
// }
.imgMariposa{
    background: url("../../assets/img/home/Mariposa_3.gif") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin-top: 0%;
}

.button-link {
    width: 100%;
    height: 100vh;
}

.navigation-link {
    height: 50vh;
}