.img-agua{
    width: 100%;
    height: 100vh;
    background-color: black;
    background-size: cover;
}
.position-front {
    position: absolute;
    z-index: 100;
}

.imgMariposa{
    width: 75%;
    margin-top: 3%;
    transform-style: preserve-3d;
    transform: translateZ(20px);
}