<div class="row content-glish" *ngIf="!statusStart">
    <div class="col-12">
        <div class="styles-start">
            <app-start-page (eventEmpezar)="statusStart = $event"></app-start-page>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="img-agua  col-12">
        <div class="container">
            <div class="row">
                <div class="col-12 content-padding">
                    <div class="row imgMariposa">
                        <div class="col-12">
                            <div class="row">
                                <div data-bs-toggle="tooltip" data-bs-placement="left" title="Podcast"
                                    class="col-6 navigation-link navigation-link-1" id="podcast-link"
                                    (click)="routePages('podcast')">
                                    <div class="animate__animated show-item" id="podcast-animated" >
                                        <div id="title-link-1" class="glitch">
                                            <span>
                                                Podcast
                                            </span>
                                            Podcast
                                            <span>
                                                Podcast
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div data-bs-toggle="tooltip" data-bs-placement="right" title="Tienda del Futuro"
                                    class="col-6 navigation-link navigation-link-2" id="tienda-link"
                                    (click)="routePages('virtual-store')">
                                    <div class="animate__animated show-item" id="tienda-animated" >
                                        <div class="title-link glitch">
                                            <span>
                                                Tienda del Futuro
                                            </span>
                                            Tienda del Futuro
                                            <span>
                                                Tienda del Futuro
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div data-bs-toggle="tooltip" data-bs-placement="right" title="Arbol"
                                    class="col-6 navigation-link navigation-link-3" id="arbol-link"
                                    (click)="routePages('tree-page')">
                                    <div class="animate__animated show-item" id="arbol-animated" >
                                        <div class="title-link">
                                            <div class="title-link glitch">
                                                <span>
                                                    Árbol
                                                </span>
                                                Árbol
                                                <span>
                                                    Árbol
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-bs-toggle="tooltip" data-bs-placement="right" title="Contenidos Adicionales"
                                    class="col-6 navigation-link navigation-link-4" id="contenidos-link"
                                    (click)="routePages('contents')">
                                    <div class="animate__animated show-item" id="contenidos-animated" >
                                        <div class="title-link">
                                            <div class="title-link glitch">
                                                <span>
                                                    Contenidos Adicionales
                                                </span>
                                                Contenidos Adicionales
                                                <span>
                                                    Contenidos Adicionales
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 1)" template="<img src='assets/img/mariposa.gif' />">
</ngx-spinner>