.btn-flotante {
	font-size: 16px;
	/* Cambiar el tamaño de la tipografia */
	text-transform: uppercase;
	/* Texto en mayusculas */
	font-weight: bold;
	/* Fuente en negrita o bold */
	color: #ffffff;
	/* Color del texto */
	border-radius: 5px;
	/* Borde del boton */
	letter-spacing: 2px;
	/* Espacio entre letras */
	background-color: #e91e63;
	/* Color de fondo */
	padding: 18px 30px;
	/* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}

.btn-flotante:hover {
	background-color: #2c2fa5;
	/* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
}

.bia-flotante {
	position: fixed;
	bottom: 8%;
	left: 93%;
	z-index: 999;
}

.bia-flotante:hover {
	transform: translateY(-7px);
}


.imgBia {
	width: 55%;
}

.share {
	display: block;
	width: 60px;
	height: 60px;
	background: #000;
	position: fixed;
	top: 6%;
    left: 50%;
	z-index: 999;
	text-align: center;
	overflow: hidden;
	line-height: 65px;
	font-size: 1.5em;
	color: #fff;
	-moz-box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
	border-radius: 50px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/** Aleteo */
// .share > img{
// 	width: 100%;
//     margin-bottom: 11px;
// }

/** Mariposa */
.share>img {
	width: 85%;
	margin-bottom: 3px;
}

.share:hover {
	cursor: pointer;
}

.one,
.two,
.three,
.four,
.home,
.audioIcon {
	position: fixed;
	width: 35px;
	height: 35px;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	line-height: 49px;
	font-size: 1.5em;
	top: 6%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.2);
	-webkit-transition: transform 0.3s ease-in-out;
	z-index: 998;
	transition: transform 0.3s ease-in-out;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover,
.home:hover,
.audioIcon:hover {
	cursor: pointer;
}

.home i {
	position: absolute;
	margin: 6px 0px 0px -9px;
	font-size: 20px;
}

.one i {
	position: absolute;
	margin: 7px 0px 0px -6px;
	font-size: 20px;
}

.two i {
	position: absolute;
	margin: 7px 0px 0px -9px;
	font-size: 20px;
}

.three i {
	position: absolute;
	margin: 7px 0px 0px -9px;
	font-size: 20px;
}

.four i {
	position: absolute;
	margin: 9px 0px 0px -10px;
	font-size: 18px;
}

.home {
	background: #000;
}

.divAudioIcon{
	left: 40%;
}

.audioIcon{
	background-image: url("../assets/img/OndaAudio.gif");
	background-size: cover;
}

.audioIconStop{
	background-image: url("../assets/img/OndaAudioStop.jpg");
	background-size: cover;
}

.one {
    left: 43%;
	background-image: url('../assets/img/iconos_podcast.gif');
    background-size: 100%;
}

.two {
    left: 46%;
	background-image: url('../assets/img/iconos_tienda.gif');
    background-size: 100%;
}

.three {
    left: 54%;
	background-image: url('../assets/img/iconos_arbol.gif');
    background-size: 100%;
}

.four {
    left: 57%;
	background-image: url('../assets/img/iconos_contenidoAd.gif');
    background-size: 100%;
}

a:hover {
	color: #fff;
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}

main {
	display: flex;
	flex-wrap: nowrap;
	height: 100vh;
	height: -webkit-fill-available;
	max-height: 100vh;
	overflow-x: auto;
	overflow-y: hidden;
}

.b-example-divider {
	flex-shrink: 0;
	width: 1.5rem;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.1);
	border: solid rgba(0, 0, 0, 0.15);
	border-width: 1px 0;
	box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
	vertical-align: -0.125em;
	pointer-events: none;
	fill: currentColor;
}

.dropdown-toggle {
	outline: 0;
}

.nav-flush .nav-link {
	border-radius: 0;
}

.btn-toggle {
	display: inline-flex;
	align-items: center;
	padding: 0.25rem 0.5rem;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.65);
	background-color: transparent;
	border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
	color: rgba(0, 0, 0, 0.85);
	background-color: #d2f4ea;
}

.btn-toggle::before {
	width: 1.25em;
	line-height: 0;
	content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
	transition: transform 0.35s ease;
	transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
	color: rgba(0, 0, 0, 0.85);
}

.btn-toggle[aria-expanded="true"]::before {
	transform: rotate(90deg);
}

.btn-toggle-nav a {
	display: inline-flex;
	padding: 0.1875rem 0.5rem;
	margin-top: 0.125rem;
	margin-left: 1.25rem;
	text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
	background-color: #d2f4ea;
}

.scrollarea {
	overflow-y: auto;
}

.fw-semibold {
	font-weight: 600;
}

.lh-tight {
	line-height: 1.25;
}

.fix-nav {
	position: fixed;
	width: 256px;
	height: 100%;
	z-index: 9999 !important;

	-webkit-transform: translate3d(-100%, 0px, 0px);
	transform: translate3d(-100%, 0px, 0px);
	visibility: visible;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;


	&--close {
		-webkit-transform: translate3d(0px, 0px, 0px);
		transform: translate3d(0px, 0px, 0px);
		visibility: visible;
	}

	i {
		font-size: 25px;
	}
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
	background-color: #2f2bd6;
}

.display-menu {
	margin-left: 0.5%;
	top: 2%;
	position: fixed;
	z-index: 999;

	&--fixed-top {
		position: fixed;
		top: 2%;
		background-color: transparent;
		border: none;
	}
}

.color-menu {
	background-color: black !important;
}

.sonido-botton{
	z-index: 999;
}

.img-sound {
	width: 150px;
	height: 50px;
}


.btnVocesF {
	display: block;
	width: 35px;
	height: 35px;
	background: #000;
	position: fixed;
	top: 6%;
	left: 60%;
	z-index: 999;
	text-align: center;
	overflow: hidden;
	line-height: 38px;
	font-size: 1.5em;
	color: #fff;
	cursor: pointer;
	-moz-box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
	border-radius: 50px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/** Mariposa */
.btnVocesF>img {
	width: 85%;
	margin-bottom: 10px;
}

/* Propiedades para audio */
.loader {
	left: 2%;
    top: 2%;
	// transform: translate(-50%, -50%);
    height: 35px !important;
	position: absolute;
}

.bar {
	width: 5px;
    height: 35px;
	display: inline-block;
	// background: #ada3a3;
	transform-origin: bottom center;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	animation: loader8913 1.2s linear infinite;
}

.barStop {
	width: 5px;
    height: 5px;
	display: inline-block;
	background: #ada3a3;
	transform-origin: bottom center;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	// animation: loader8913 1.2s linear infinite;
}

.bar1 {
	animation-delay: 0.1s;
}

.bar2 {
	animation-delay: 0.2s;
}

.bar3 {
	animation-delay: 0.3s;
}

.bar4 {
	animation-delay: 0.4s;
}

.bar5 {
	animation-delay: 0.5s;
}

.bar6 {
	animation-delay: 0.6s;
}

.bar7 {
	animation-delay: 0.7s;
}

.bar8 {
	animation-delay: 0.8s;
}

@keyframes loader8913 {
	0% {
		transform: scaleY(0.1);
	}

	50% {
		transform: scaleY(1);
		background: #ada3a3;
	}

	100% {
		transform: scaleY(0.1);
		background: transparent;
	}
}