<div class="display-menu" *ngIf="!this.flat_open_side">
  <button type="button" class="btn btn-dark" (click)="showSideBar(true)">
    <i class="bi bi-chevron-double-right"></i>
  </button>
</div>
<div>
  <button class="display-menu--fixed-top sonido-botton" id="sonido-botton">
    <span> <img src="../assets/img/sound-size.gif" class="img-sound"></span>
  </button>
</div>
<div class="d-flex flex-column flex-shrink-0 p-3 text-white  "
  [ngClass]="[!this.flat_open_side? 'fix-nav' : ' fix-nav--close fix-nav', route.url == '/virtual-store' ? 'color-menu' : '']"
  style="width: 280px;">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-3">
          <a (click)="showSideBar(false)"><i class="bi bi-list"></i></a>
        </div>
        <div class="col-9">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">Aleteo</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#" class="nav-link active" aria-current="page">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#home" />
        </svg>
        Sobre Aleteo
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#speedometer2" />
        </svg>
        Créditos
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#table" />
        </svg>
        Contáctenos
      </a>
    </li>
  </ul>
  <hr />
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
      data-bs-toggle="dropdown" aria-expanded="false">
      <!-- <img
        src="https://github.com/mdo.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      /> -->
      <strong>Redes Sociales</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
      <li><a class="dropdown-item" href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
      <!-- <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li> -->
    </ul>
  </div>
</div>

<!-- Flotante BIA-->
<a href="#" class="bia-flotante">
  <img class="imgBia" src="../assets/img/BIA.gif" data-bs-toggle="tooltip" data-bs-placement="top"
    title="¿Necesitas Ayuda?" />
</a>
<!-- Flotante BIA END -->

<!-- Flotante Redes -->
<div class="share" (click)="shareFunction()">
  <img src="../assets/img/btnFlotanteM.png">
  <!-- <img src="../assets/img/btnFlotanteA.png"> -->
</div>
<div class="one" data-bs-toggle="tooltip" data-bs-placement="top" title="Podcast" [routerLink]="['/podcast']">
  <i class="fa fa-microphone"></i>
</div>
<div class="two" data-bs-toggle="tooltip" data-bs-placement="top" title="Tienda Virtual"
  [routerLink]="['/virtual-store']">
  <i class="fa fa-shopping-cart"></i>
</div>
<div class="three" data-bs-toggle="tooltip" data-bs-placement="top" title="Árbol" [routerLink]="['/tree-page']">
  <i class="fa fa-tree"></i>
</div>
<a class="four" data-bs-toggle="tooltip" data-bs-placement="top" title="Más Contenidos" [routerLink]="['/contents']">
  <i class="fa fa-photo"></i>
</a>
<!-- Flotante Redes END -->

<!-- Roting -->
<router-outlet></router-outlet>
<!-- Roting END -->

<!-- Spinner  -->
<ngx-spinner bdColor="rgba(0, 0, 0, 1)" template="<img src='assets/img/mariposa.gif' />">
</ngx-spinner>
<!-- Spinner END -->

<!-- Boton Flotante Voces del futuro -->
<div class="btnVocesF" data-bs-toggle="tooltip" data-bs-placement="top" title="Voces del Futuro">
  <img src="../assets/img/audio-spectrum-gif.gif">
  <!-- <img src="../assets/img/btnFlotanteA.png"> -->
</div>
<!-- Boton Flotante Voces del futuro -->

<app-modal-component idTarget="staticBackdrop">
  <ng-template #header>
    <div>Titulo</div>
  </ng-template>
  <ng-template #content>
    <div>
      contenido
    </div>
  </ng-template>
  <ng-template #footer>
    footer
  </ng-template>
</app-modal-component>