<!-- Spinner  -->
<ngx-spinner width="50%" [name]="spinerMariposa" template = "<img src='assets/img/Cargando_Gif.gif'/>"></ngx-spinner>
<!-- Spinner END -->
<div class="divBg">
    <div class="container">
        <div class="col-md-12 row">
            <div class="col-md-12 marginEmpty" ></div>
            <div class="col-md-2"></div>
            <div class="col-md-9 row" align="center">
                <div class="divContent col-12 col-md-6">
                    <div class="card">
                        <div class="">
                            <img class="imgCard" src="../../assets/img/contentsAdd/Aleteo - Transmedia.png" width="100%">
                        </div>
                        <div class="content" (click)="openViewContent('aleteo')">
                            <h6>Aleteo Transmedia</h6>
                        </div>
                    </div>
                </div>
                <div class="divContent col-12 col-md-6">
                    <div class="card">
                        <div class="">
                            <img class="imgCard" src="../../assets/img/contentsAdd/BIA.png" width="100%">
                        </div>
                        <div class="content" (click)="openViewContent('bia')">
                            <h6>BIA</h6>
                        </div>
                    </div>
                </div>
                <div class="divContent col-12 col-md-6">
                    <div class="card">
                        <div class="">
                            <img class="imgCard" src="../../assets/img/contentsAdd/IMG_9012 - copia.JPG" width="100%">
                        </div>
                    
                        <div class="content" (click)="openViewContent('camila')">
                            <h6>CAMILA</h6>
                        </div>
                    </div>
                </div>
                <div class="divContent col-12 col-md-6">
                    <div class="card">
                        <div class="">
                            <img class="imgCard" src="../../assets/img/contentsAdd/Museo Interactivo.JPG" width="100%">
                        </div>
                        <div class="content" (click)="openViewContent('museo')">
                            <h6>Museo Interactivo</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

<app-modal-component (closeEvent)="eventCloseModalContentAdd()" idTarget="modalContentAdd" tamanio="xl" bgModal="bgDarkModal ModalVirtual bgNoBorder hideClose">
    <ng-template #content>
        <div class="col-12" align="center">
            <video id="videoContentAdd" class="bgColorVideo" controls></video>
        </div>
    </ng-template>
</app-modal-component>


<div class="row content-fixed">
    <div class="col-12">
        <div class="content-glisch">
            <h1>Contenidos <br> adicionales</h1>
        </div>
    </div>
</div>
  