.divBg{
  background-image: url('../../assets/img/contentsAdd/fondo.gif');
  background-size: cover;
  height: 100vh;
}

.marginEmpty{
    margin-top: 10%;
}

.card {
    width: 75%;
    height: 170px;
    background-color: #000;
    text-align: center;
    border: 10px solid #2e2b2b;
    border-radius: 20px;
    box-shadow: inset 5px 5px 10px #171515, inset -5px -5px 10px #5a00b2;
    transition: 0.5s;
  }
  
  .card:hover {
    height: 100%;
  }

  .aleteo{
    // background-image: url("../../assets/img/contentsAdd/Aleteo - Transmedia 2.gif");
    background-size: cover;
  }

  .bia{
    // background-image: url("../../assets/img/contentsAdd/Bia.gif");
    background-size: cover;
  }

  .camila{
    // background-image: url("../../assets/img/contentsAdd/Camila.gif");
    background-size: cover;
  }
  .museo{
    // background-image: url("../../assets/img/contentsAdd/Museo\ Interactivo_1.gif");
    background-size: cover;
  }
  
  .icon {
    width: 60px;
    height: 60px;
    color: red;
    font-size: 30px;
    // background-color: #eee;
    margin: 20px auto;
    // padding: 20%;
    border-radius: 50%;
    box-shadow: 8px 8px 10px #ddd, -8px -8px 10px #fff;
  }
  
  .content {
    cursor: pointer;
    color: #999;
    background-color: #000;
    padding: 10px;
    margin: 5px 20px;
    border-radius: 8px;
    box-shadow: 8px 8px 10px #000, -8px -8px 10px #5a00b2;
    transform: translateY(-80px) scale(0);
    transition: all 0.5s;
  }
  
  .card:hover .content {
    transform: translateY(0) scale(1)
  }
  
  .content h3 {
    text-shadow: 2px 2px 0px #fff;
  }

  .imgCard{
    border-radius: 80px;
    width: 130px;
    height: 130px;
    margin-top: 10px;
    transition: all 0.5s;
  }

  .card:hover .imgCard{
    width: 100px;
    height: 100px;
  }

  .bgColorVideo{
    width: 70%;
    border-radius: 35px; 
    box-shadow: 0px 0px 30px transparent, 0px 0px 60px #2f2bd6;
  }
  
  .video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    // height: 100%;
    z-index: -1;
  }

  .content-fixed {
    display: flex;
    position: fixed;
    top: 85%;
    z-index: 1000;
  }
  
  .content-glisch {
    width: 100%;
    background: transparent;
    padding: 30px;
    color: #fff;
    display: flex;
    align-items: center !important;
    justify-content: flex-start;
    overflow: hidden;
  
    h1 {
      font-family: 'Reboot';
      font-size: 0.6rem;
      position: relative;
      font-weight: normal;
      text-align: center;
      cursor: pointer;
      color: rgb(160, 157, 157);
      text-shadow: 1px 1px rgba(190,30,214, 0.8), -1px -1px rgba(35,72,202, 0.8), -1px 0px rgba(121,239,215, 1);
      text-align: initial;
      line-height: normal;
    }
    
    h1:hover {
      animation: wiggle 0.2s 2;
      /*transition:all ease-out 0.1s;*/
      text-shadow: 30px 13px rgba(190,30,214, 0.8), -38px -4px rgba(35,72,202, 0.8), -2px -4px rgba(121,239,215, 1);
    }
    
    h1:hover:after {
      content: ":̪̺̠̺͗ͨ̋ͩ͗:̛͇̱̥̥̙̎͆̑ͮ̐͢:̷̲ͮ̃́̅ͦ̔͐̆:̴͈͖̮̪̗̈́̆̀:̨̙̗̺̞̥͗̐ͫ:̗̰̜̟̮̦̉̂";
      z-index: -100;
      position: absolute;
      left: 1em;
      top: -1em;
      transform: rotate(41deg);
    }
  }